@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pangolin&display=swap");

/* Styles for plain/common HTML tags*/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #1b262c;
  color: #bbe1fa;
  background-image: url("./images/az-subtle.png");
}

h2 {
  margin: 1.5rem 0;
  font-size: 2rem;
  width: 100%;
  text-align: center;
}

/* Styles for Navigation bar */

.nav-links {
  display: flex;
  align-items: center;
  padding-inline-start: 0;
  font-size: 1rem;
}

.nav-links a {
  text-decoration: none;
  color: #c4e7ff;
  display: contents;
  transition: 0.2s;
  transition-timing-function: ease;
}

.nav-links a:hover {
  color: #0f4c75;
}

/* Styles for "Main" section */

/* .main {
  margin-left: 10%;
} */

@media (min-width: 769px) {
  .main {
    padding-left: 10%;
  }
}

#introImg {
  background-image: url("./images/marten-bjork-aTt_rNa3gmM-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  /* filter: blur(5px);
  -webkit-filter: blur(5px); */
  display: flex;
}

#introContent {
  color: #ffffff;
  margin: 10%;
  align-self: center;
}

#introContent h1 {
  font-family: "Pangolin", cursive;
  font-size: 4rem;
  margin: 0;
}
/*
hr {
  border: 0;
  width: 50%;
  border-top: 2px solid #eee;
}

#introContent p {
  font-size: 1rem;
  margin-top: 1.2rem;
}
*/

/* Styles for "Education" section */

#education {
  margin: 1% 5%;
}

.paperRight {
  padding: 6px 16px;
  width: fit-content;
}

.paperLeft {
  padding: 6px 16px;
  width: fit-content;
  float: right;
}

/* Styles for "Skills" section */

#skills {
  margin: 1% 5%;
}

/* Styles for footer */

footer {
  margin: 1.5rem 0;
  text-align: center;
  color: #00adb5;
}
