@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

body{
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #eeeeee;
  color: #393e46;
  background-image: url("./images/az-subtle.png");
  
}

h2{
  text-align: center;
  margin: 1.5rem 0;
  font-size: 2rem;
}

.navbar{
  display: inline-block;
  width: 20%;
  height: 100vh;
  position: fixed;
  padding: 1rem 0;
  top: 0;
  left: 0;
  background-color: #eeeeee;
  box-shadow: 3px 7px 13px 6px #393e46;
  z-index: 1;
}

.navbar img{
  border-radius: 50%;
  width: 50%;
  margin: 0 25%;
}

.nav-links{
  display: flex;
  align-items: center;
  padding-inline-start: 0;
  font-size: 1rem;
}

.nav-links a{
  text-decoration: none;
  color: #00adb5;
  display: contents;
  transition: 0.2s;
  transition-timing-function: ease;
}

.nav-links a:hover{
  color: #393e46;
}

.main{
  margin-left: 20%;  
}

#introImg{
  background-image: url("./images/marten-bjork-aTt_rNa3gmM-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 30rem;
  filter: blur(5px);
  -webkit-filter: blur(5px);
}

#introContent{
  position: absolute;
  color: #ffffff;
  top: 10%;
  right: 24%;
  text-align: center;
  width: 30%;
}

#introContent h1{
  font-family: 'Pangolin', cursive;
  font-size: 4rem;
  margin-bottom: 1.2rem;
}

hr{
  border: 0;
  width: 50%;
  border-top: 2px solid #eee;
}

#introContent p{
  font-size: 1rem;
  margin-top: 1.2rem;
}

#about{
  margin: 1% 5%;
}

footer{
  margin: 1.5rem 0;
  text-align: center;
  color: #00adb5;
}